@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

@media (min-width: 1200px) {
    :root {
        --horizontal-page-margin: 14vw;
        --vertical-page-margin: 10vh;
    }

}

@media (max-width: 1200px) {
    :root {
        --horizontal-page-margin: 5vw;
        --vertical-page-margin: 3vh;
    }
}

:root {
    --header-height: 8vh;
    --highlight-color: #be8a1c;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--highlight-color);
}

h1 {
    font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

main {
    margin-top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
    width: 100%;
}

/* For preview window in cms */
.content {
    padding: var(--vertical-page-margin) var(--horizontal-page-margin);
}

ul {
    padding-left: 17px;
}

li {
    padding-bottom: 12px;
    text-indent: -17px;
    list-style: none;
}

li::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 6px;
    border-color: #ffb422;
    display: inline-block;
    margin-right: 10px;
}