@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

@media (min-width: 1200px) {
    :root {
        --horizontal-page-margin: 14vw;
        --vertical-page-margin: 10vh;
    }

}

@media (max-width: 1200px) {
    :root {
        --horizontal-page-margin: 5vw;
        --vertical-page-margin: 3vh;
    }
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #be8a1c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}