@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #be8a1c;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

body {
    font-family: 'Open Sans', sans-serif;               
    line-height: 1.7em;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}
