.list {
    padding: 10vh 15vw;
}

.list h1 {
    margin-bottom: 2em;
}

.list nav {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.list nav a {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    margin: 0 10px;
    color: black;
    transition: color .2s;
}

.active-page, .list nav a:hover {
    color: #be8a1c !important;
}
.article-list-item {
    display: flex;
    margin-top: 30px;
}

.article-list-item img {
    aspect-ratio: 1;
    height: 200px;
    margin: 0 40px;
    margin-left: 0;
}

.article-list-item h2 {
    margin-block-start: 0;
}
