<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }} - Maitri Bytom</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/baseof.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="/Logo-Maitri.png" alt="Logo Maitri">
        </a>

        <div class="section-buttons">
            <a href="/aktualnosci">
                <button>Aktualności</button> 
            </a>

            {{ range (where .Site.Pages "Section" "strony_gornego_paska") }}
                {{ range sort .Pages ".Params.header_position"}}
                    <a href="{{ .Permalink }}">
                        <button>{{ .Title }}</button> 
                    </a>
                {{ end }}
            {{ end }}
        </div>
    </header>

    <main>
        {{ block "main" . }} {{ end }}
    </main>

    <footer>
        {{ range (where .Site.Pages "Section" "sekcje_stopki") }}
            {{ range .Pages }}
                <div>
                    <h1>{{ .Title }}</h1>
                    {{ .Content }}
                </div>
            {{ end }}
        {{ end }}
    </footer>
</body>
</html>