---
import type { ArticleMarkdown } from "$scripts/types";
import Menu from "./Menu.svelte";

const headerPages = (await Astro.glob("../markdown/header_pages/*.md")).sort(
  (a, b) => a.frontmatter.header_position - b.frontmatter.header_position
) as ArticleMarkdown[];
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header>
  <a href="/" class="logo">
    <img alt="Logo Maitri" />
  </a>

  <Menu currentPath={currentPath} pages={headerPages} client:visible />
</header>

<style>
  :root {
    --header-height: 8vh;
  }

  .logo {
    content: url("/Logo-Maitri.png");
    height: 80%;
  }
  .logo > img {
    height: 100%;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 var(--horizontal-page-margin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    -webkit-box-shadow: 0px 3px 31px -17px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 3px 31px -17px rgba(66, 68, 90, 1);
    box-shadow: 0px 3px 31px -17px rgba(66, 68, 90, 1);
  }
</style>
