{{ $images :=  .}}

<link rel="stylesheet" href="/image_slider.css">
<script>
    let currentImageIndex = 0;
    const images = [
        {{ range $images }}
            "{{ . }}",
        {{ end }}
    ]
    
    function prevImage() {
        currentImageIndex--
        if(currentImageIndex < 0)  currentImageIndex = images.length - 1;
        changeImage()
    }

    function nextImage() {
        currentImageIndex++
        if(currentImageIndex >= images.length)  currentImageIndex = 0;
        changeImage()
    }

    function changeImage() {
        const imageDiv = document.querySelector(".image");
        imageDiv.style.backgroundImage = `url(${images[currentImageIndex]})`
    }
</script>
<div class="image-slider">
    <div class="image" style="background-image: url({{ index $images 0 }});">
        <div class="slider-btn" onclick="prevImage()"> &laquo; </div>
        <div class="slider-btn" onclick="nextImage()"> &raquo; </div>
    </div>
</div>