---
import type { MarkdownInstance } from "astro";
import Base from "./Base.astro";
import ImageSlider from "../components/ImageSlider.svelte";

export interface Props {
    markdown: MarkdownInstance<Record<string, any>>;
}

const { markdown } = Astro.props;
const { Content, frontmatter } = markdown;
const { title, date, author, image_gallery } = frontmatter;
---

<Base title={title}>
    <article>
        <h1>{title}</h1>

        {
            author && date && (
                <h4>
                    {author}
                    <br />
                    {new Date(date).toLocaleDateString("pl")}
                </h4>
            )
        }

        <Content />

        {image_gallery && <ImageSlider client:idle images={image_gallery} />}
    </article>
</Base>
<style>
    article {
        padding: 10vh 15vw;
    }

    article h1 {
        margin-bottom: 2em;
    }
</style>
